replicaCount: 1

image:
  repository: ipocket
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8000

resources: {}

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 2Gi
  storageClassName: ""

sessionSecret: "change-me-in-production"

adminBootstrap:
  username: ""
  password: ""

serviceAccount:
  create: false
  name: ""

podAnnotations: {}

nodeSelector: {}

tolerations: []

affinity: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: ipocket.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
